<div class="title">
  
    <div class="center-align">

        <app-time-display [inputData]="present"></app-time-display>
        <!-- <app-time-display></app-time-display> -->

        <!-- 컴포넌트화하면 !!재사용!!이 가능해진다. -->
        <!-- <app-time-display></app-time-display>
        <app-time-display></app-time-display> -->
        
        <app-buttons (clickEvent)="startTime($event)"></app-buttons>


        <!-- 버튼 컴포넌트 재사용 예제 -->
        <div> 
            {{commandText}}
        </div>
        <app-buttons (clickEvent)="commandText = $event"></app-buttons>
    
    </div>

</div>
